body {
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
  margin: 0;
  height: 100vh;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    sans-serif;
  font-size: calc(100vh / 17);
}

@media (max-aspect-ratio: 1/1) {
  body {
    font-size: calc(100vw / 30);
  }
}

pre {
  padding: 0;
  margin: 0;
}

#logo {
  height: 10vh;
  width: 10vh;
  background: linear-gradient(rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.75)), url('/logo.png');
  background-size: contain;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -10;
}

.var-highlight {
  color: #c0ad60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  margin: 0;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
